<div class="home-container">
  <div class="split-layout">
    <!-- Coluna da esquerda -->
    <div class="left-column">
      <div class="logo-section">
        <img src="assets/spotify-logo.webp" alt="Spotify Logo" class="spotify-logo">
        <h1 class="title">Spotify Timeline Generator</h1>
      </div>

      <app-auth-steps [isLoggedIn]="isLoggedIn" [selectedType]="selectedType" [selectedTimeRange]="selectedTimeRange"
        [loading]="loading" (loginClick)="onLogin()" (typeSelect)="onTypeSelect($event)"
        (timeRangeSelect)="onTimeRangeSelect($event)">
      </app-auth-steps>

      <div class="refresh-container" *ngIf="isStepsCompleted">
        <button pButton icon="pi pi-refresh" class="p-button-text p-button-rounded" (click)="resetSteps()"
          pTooltip="Start Over">
        </button>
      </div>
    </div>

    <!-- Coluna da direita -->
    <div class="right-column" *ngIf="showContent">
      <p-progressSpinner *ngIf="loading" styleClass="custom-spinner"></p-progressSpinner>

      <div class="content-container" *ngIf="!loading && items.length > 0">
        <div class="pagination-controls">
          <p-dropdown [(ngModel)]="itemsPerPage" [options]="itemsPerPageOptions" optionLabel="label" optionValue="value"
            (onChange)="onItemsPerPageChange($event)" placeholder="Items per page">
          </p-dropdown>
        </div>

        <div class="scroll-container">
          <ng-container [ngSwitch]="selectedType">
            <ng-container *ngSwitchCase="'tracks'">
              <app-track-list [tracks]="paginatedItems"></app-track-list>
            </ng-container>
            <ng-container *ngSwitchCase="'artists'">
              <app-artist-list [artists]="paginatedItems"></app-artist-list>
            </ng-container>
          </ng-container>
        </div>

        <!-- Botões fora do scroll-container -->
        <app-action-buttons [selectedType]="selectedType" [playlistLoading]="playlistLoading"
          [playlistCreated]="playlistCreated" (onCreatePlaylist)="createPlaylist()" (onOpenPlaylist)="openPlaylist()"
          (onGenerateStory)="generateStory()" (onCreateRecommendedPlaylist)="createRecommendedPlaylist()">
        </app-action-buttons>
      </div>
    </div>
  </div>
</div>
