<div class="tracks-list">
  <div *ngFor="let track of tracks; let i = index"
       class="track-item"
       [@fadeInUp]="i">
    <div class="rank">#{{i + 1}}</div>
    <img [src]="track.album.images[0].url" [alt]="track.name">
    <div class="info">
      <h3>{{track.name}}</h3>
      <div class="artists">
        <span *ngFor="let artist of track.artists; let last = last">
          {{artist.name}}{{!last ? ', ' : ''}}
        </span>
      </div>
      <div class="details">
        <span class="album">{{track.album.name}}</span>
        <span class="duration">{{formatDuration(track.duration_ms)}}</span>
        <span class="popularity" [title]="'Popularity: ' + track.popularity + '%'">
          <i class="pi pi-chart-bar"></i>
          {{track.popularity}}%
        </span>
      </div>
    </div>
  </div>
</div>
